body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    padding: 50;
    font-family: sans-serif;
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
body::before { 
    display: flex;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    background-color: rgba(0,0,0,0.7);
    background-size: screen;
    background-repeat: repeat;
    z-index: -1;
}
h2 {
    text-align: center;
    font-size: max(2.5rem, 5vh);
}
#championImage {
    width: 9vh;
    height: 9vh;
    min-height: 4rem;
    min-width: 4rem;
}
#erandomChampion {
    font-size: max(2rem, 4vh);
    text-align: center;
    padding-top: max(0.15rem, 0.3vh);;
}
#erandomLane {
    font-size: 25px;
    text-align: center;
}
#buildLine_0 img {
    width: 5.5vh;
    height: 5.5vh;
    min-height: 3rem;
    min-width: 3rem;
}
.erandomBuild img {
    min-height: 2rem;
    min-width: 2rem;
    width: 3.5vh;
    height: 3.5vh;
    vertical-align: middle;
    outline: 10px;
    outline-color: darkgoldenrod;
}
.erandomBuild p {
    font-size: max(1.5rem, 3vh);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: max(0.1rem, 0.2vh);
    padding-bottom: max(0.1rem, 0.2vh);
}
#_button {
    font-size: max(1rem, 2vh);
    text-align: center;
    padding: max(0.75rem, 1.5vh);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 1vh;
}
.grid-item:nth-child(3) {
    grid-column: 1 / span 2;
}